<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DXService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Testapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD29541C1640602100CFA635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD2954391640602100CFA635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD14719163D9388009DF157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD1472A163D9388009DF157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
